body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: url(excel.png);
}

.submission {
    margin: auto;
    text-align: center;
    max-width: 250px;
}

#title {
    border: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    background:rgb(255,255,255);  
    background: transparent\9;  
    background:rgba(255,255,255,0.7);  
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  
    zoom: 1;
}

#spreadsheet-form {
    border: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    background:rgb(255,255,255);  
    background: transparent\9;  
    background:rgba(255,255,255,0.7);  
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  
    zoom: 1;
}

#submit {
    color: #ffffff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
    border-radius: 5px;
    border-style: solid;
    border-color: #28a745;
    width: 200px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
    border-width: 0.5px;
    margin-bottom: 15px;
}

#output {
    border: 1px solid grey;
    background-color: white;
    background:rgb(255,255,255);  
    background: transparent\9;  
    background:rgba(255,255,255,0.7);  
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  
    zoom: 1;
}

.howto {
    margin-left: 38px;
    border: 1px solid grey;
    
    padding-left: 20px;
    padding-right: 20px;
    background:rgb(255,255,255);  
    background: transparent\9;  
    background:rgba(255,255,255,0.5);  
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);  
    zoom: 1;
    
}